<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/json.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-app="starter" ng-controller="indexController">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
        {{placeholderTitle | json}}
        <div id="container"></div>
        <form-templates ng-repeat="form in formObject" content="{{form.templateType}}">
        </form-templates>
        <ul class="list">
            <li class="item" >
              <button class="button button-balanced" ng-if="currentPage > 0" ng-click="previousPage()">
                Go back
              </button>
              <button class="button button-balanced" ng-if="currentPage < formDivider" ng-click="nextPage()">
                Next
              </button>
              <button class="button button-balanced" ng-if="currentPage === formDivider" ng-click="submitForm()">
                Finish
              </button>
            </li>
        </ul>
      </ion-content>
    </ion-pane>
  </body>
</html>
